.movieList {
  padding: 0 16px 24px;
  margin-bottom: 24px;
  width: 100%;
  overflow: hidden;
  padding-left: 1.5rem;
  box-sizing: border-box;
  @media (min-width: 768px) {
    padding-left: 4rem;
  }
}

.sectionTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: $white-color;
}

.swiperContainer {
  overflow: visible;

  .swiper-wrapper {
    padding-bottom: 24px;
  }
}

.swiperSlide {
  width: auto !important;
}


