.skeletonCard {
  border-radius: 8px;
  overflow: hidden;
  background: #1a1a1a;
  box-shadow: 0 2px 8px $black-color;
  width: 270px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  @media (min-width: 768px) {
    width: 400px;
    min-height: 325px;
  }
}

.skeletonThumbnail {
  height: 146px;
  background: #2d2d2d;
  position: relative;
  overflow: hidden;
  overflow: hidden;
  margin: 1rem;
  border-radius: 4px;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, $gray-high-color, transparent);
    animation: shimmer 1.5s infinite;
  }
}

.skeletonContent {
  padding: 12px;
}

.skeletonTitle {
  height: 16px;
  background: $black-color;
  border-radius: 4px;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, $gray-light-color, transparent);
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}