$black-color: #141414;
$white-color: #ffffff;

.header {
  background-color: $black-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  position: relative;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    padding: 1rem 2rem;
  }
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  &::before {
    content: '';
    background-color: $blue-color;
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width .3s ease;
  }
  div {
    width: 16px;
    height: 16px;
    background: $gray-light-color;
    border-radius: 4px;
    transition: background .3s ease;
  }
  &:hover {
    div {
      background: $blue-color;
      transition: background .3s ease;
    }
    &::before { 
      width: 100%;
      transition: width .3s ease;
    }
  }
}

.navToggle {
  background: none;
  border: none;
  color: $white-color;
  font-size: 1.8rem;
  display: block;
  cursor: pointer;
  z-index: 101;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  span {
    position: absolute;
  }
}

.nav {
  display: none;
  flex: 1;
  justify-content: center;

  @media (min-width: 768px) {
    display: flex;
  }
}

.navMobile {
  width: 100%;
  background-color: $black-color;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
  
  @media (min-width: 768px) {
    display: none;
  }
}

.navList {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 2rem 1rem;
  }
}

.navItem {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  position: relative;
  
  a {
    color: $white-color;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    position: relative;
  }

  @media (min-width: 768px) {
    margin: 0 1rem;
    font-size: 0.95rem;
    
    a {
      padding: 5px 10px;
    }
  }
}

.rightIcons {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  z-index: 101;
  * {
    cursor: pointer
  }
}

.avatarIcon {
  background-color: rgba(117, 117, 117, 1);
  border-radius: 50%;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $blue-color;
    svg {
      path{
        transition: fill .3s ease;
        fill: $white-color;
      }
    }
  }
  
  svg {
    position: relative;
    transition: fill .3s ease;
  }

  @media (min-width: 768px) {
    padding: 8px 8px;
  }
}

@media (min-width: 768px) {
  .navToggle {
    display: none;
  }

  .navList {
    display: flex;
    gap: 2rem;
    padding: 0;
  }

  .navItem {
    position: relative;
    &::before {
      content: '';
      background-color: $blue-color;
      display: block;
      width: 0;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width .3s ease;
    }

    &:hover {
      &::before {
        width: 100%;
        transition: width .3s ease;
      }
    }
  }
}