$primary-color: red;
$black-color: #000;
$black-medium-color: #0c0c0c;
$white-color: #fff;
$white-transparent-color: rgba(255, 255, 255, 0.7);
$blue-color: rgba(43, 161, 218, 1);
$gray-light-color: #999;
$gray-color: #808080;
$gray-high-color: rgba(61, 61, 61, 1);